:root {
  font-family: 'HeliosExtended', sans-serif;
  background-color: var(--primary-white);

  --title-font: 'Garet', Arial, sans-serif;
  --text-font: 'HeliosExtended', sans-serif;
  --text-color: #000000;
  --text-alternate: #373737;

  --primary-white: #f3f3f3;
  --primary-white-dark-1: #ebebeb;
  --primary-white-dark-2: #e5e5e5;
  --primary-red: #a12537;
  --primary-red-transparent: #a125380c;
  --primary-red-dark: #781a28;
}

/* Garet */
@font-face {
  font-family: 'Garet';
  src: url('./assets/fonts/Garet/Garet-Book.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Garet';
  src: url('./assets/fonts/Garet/Garet-Heavy.otf');
  font-weight: bold;
}

/* Helios Extended */
@font-face {
  font-family: 'HeliosExtended';
  src: url('./assets/fonts/HeliosExtended/heliosext.otf');
}

@font-face {
  font-family: 'HeliosExtended';
  src: url('./assets/fonts/HeliosExtended/heliosext_bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'HeliosExtended';
  src: url('./assets/fonts/HeliosExtended/heliosext_italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'HeliosExtended';
  src: url('./assets/fonts/HeliosExtended/heliosext_bold_italic.ttf');
  font-weight: bold;
  font-style: italic;
}

body {
  margin: 0;
}

.page {
  padding: 2rem 4rem;
}

h1 {
  font-family: 'HeliosExtended';
  font-weight: bold;
}

.button {
  padding: .5rem 1rem;
  text-decoration: none;
  color: var(--primary-white);
  background-color: var(--primary-red);
  transition: .1s;

  &:hover {
    background-color: var(--primary-red-dark);
    cursor: pointer;
  }
}

.contact-item {
  display: flex;
  align-items: center;
  width: 30%;
  border: 2px solid var(--primary-red);
  font-size: 1rem;
  line-height: 1.5rem;
  transition: .1s;

  &:hover {
    background-color: var(--primary-red-transparent);
  }
}

.contact-item img {
  margin: 1.5rem 2rem;
  width: 5rem;
  border-radius: 50%;
}

.contact-item a {
  color: var(--primary-red);

  &:hover {
    color: var(--primary-red-dark);
  }
}

.contact-name {
  margin-bottom: .2rem;
  font-size: 1.2rem;
  font-weight: bold;
}
